/* add custom styles */
html, body {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 0;
}

logo {
  text-align: center;
}

h1 {
  font-family: 'Yellowtail', cursive;
  font-size: 100px;
}

.station {
  /*opacity: .5;*/
  border-radius: 25px;
  border-style: solid;
  border-color: #212478;
  background-color: #f2f2f2;
  width: 60%;
  z-index: -1;
  margin-top: 32px;
  padding: 20px;
}
p {
  font-family: 'Open Sans', sans-serif;
  opacity: 2;
  margin: 0px;
  font-size: 30px;
  text-align: center;
  color:  #212478;
  z-index: 1;
}
#map {
  margin-top: 32px;
  height: 600px;
}

/*#repeat {
  background-repeat: repeat;
}*/

.background {
  background-repeat: repeat;
  background-image: url(https://lh4.ggpht.com/q1rTJ6jzXU-W5eEMp8E0MgBGkVWSrV9NG0ncQ5Tu4WZmHxqpRKZugqtdDP2jlpJnJ_M=w300);
  height: 100vh;
  opacity: .15;
  background-position: center;
}

main {
  position: absolute;
  top: 15px;
  width: 100%;
  max-width: 960px;
  height: 60px;
  margin: auto;
  left: 0;
  right: 0;
}

/*img {
  opacity: 0.5;
}*/
